<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Time</title>
    <style></style>
  </head>
  <body>
    <h1>test time!</h1>
    <label for="">Name</label>
    <input type="text" id="time-name" name="timename" /><br /><br />
    <label for="">Date</label>
    <input type="date" id="time-date" name="time-date" /><br /><br />
    <hr />
    <button id="clickMe">Click me!</button>
    <hr />
    <h2>Show Data!</h2>
    <div id="showData"></div>

    <script src="/scripts/testingtime.js"></script>
  </body>
</html>
